## Importing Pandas Library

In [1]:
import pandas as pd

## Reading the CSV file - Plain Vanilla Form
Change the Windows folder location as per your system

In [2]:
#### Importing date in vanilla form
imp_data = pd.read_csv("C:\\Ujjwal\\Analytics\\Git\\Scenario_6\\Date_Dataset.csv")
imp_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   release_date       2999 non-null   object
 1   release_date_int   3000 non-null   int64
 2   release_date_text  3000 non-null   object
 3   year               3000 non-null   int64
 4   month              3000 non-null   int64
 5   day                3000 non-null   int64
dtypes: int64(4), object(2)
memory usage: 140.8+ KB

## Converting the column containing the date-time data in text format into a date-time object

In [3]:
#### Converting text to date
imp_data["release_date_text_converted"] = pd.to_datetime(imp_data["release_date_text"], format="%Y#%d#%m")
imp_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   release_date                 2999 non-null   object
 1   release_date_int             3000 non-null   int64
 2   release_date_text            3000 non-null   object
 3   year                         3000 non-null   int64
 4   month                        3000 non-null   int64
 5   day                          3000 non-null   int64
 6   release_date_text_converted  3000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 164.2+ KB

## Converting the column containing the date-time data in integer format into a date-time object

In [4]:
#### Converting integer form to date
imp_data["release_date_int_converted"] = pd.to_datetime(imp_data["release_date_int"], format="%Y%m%d")
imp_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   release_date                 2999 non-null   object
 1   release_date_int             3000 non-null   int64
 2   release_date_text            3000 non-null   object
 3   year                         3000 non-null   int64
 4   month                        3000 non-null   int64
 5   day                          3000 non-null   int64
 6   release_date_text_converted  3000 non-null   datetime64[ns]
 7   release_date_int_converted   3000 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(4), object(2)
memory usage: 187.6+ KB

## Manually adding a new column with a constant date value to the data frame

In [5]:
#### Manually creating new column with constant date
imp_data["new_constant_date_column"] = pd.to_datetime("1985-17-03", format="%Y-%d-%m")
imp_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   release_date                 2999 non-null   object
 1   release_date_int             3000 non-null   int64
 2   release_date_text            3000 non-null   object
 3   year                         3000 non-null   int64
 4   month                        3000 non-null   int64
 5   day                          3000 non-null   int64
 6   release_date_text_converted  3000 non-null   datetime64[ns]
 7   release_date_int_converted   3000 non-null   datetime64[ns]
 8   new_constant_date_column     3000 non-null   datetime64[ns]
dtypes: datetime64[ns](3), int64(4), object(2)
memory usage: 211.1+ KB

In [6]:
imp_data.head()

,release_date,release_date_int,release_date_text,year,month,day,release_date_text_converted,release_date_int_converted,new_constant_date_column
0,NaN,20190317,2019#17#03,2019,3,17,2019-03-17,2019-03-17,1985-03-17
1,8/6/2004,20040806,2004#06#08,2004,8,6,2004-08-06,2004-08-06,1985-03-17
2,10/10/2014,20141010,2014#10#10,2014,10,10,2014-10-10,2014-10-10,1985-03-17
3,3/9/2012,20120309,2012#09#03,2012,3,9,2012-03-09,2012-03-09,1985-03-17
4,2/5/2009,20090205,2009#05#02,2009,2,5,2009-02-05,2009-02-05,1985-03-17

## Combining 3 date components into a single date column

In [7]:
#### Solution to problem. Combining date components to single date column
imp_data["combined_date"] = pd.to_datetime(imp_data[["year", "month", "day"]])
imp_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   release_date                 2999 non-null   object
 1   release_date_int             3000 non-null   int64
 2   release_date_text            3000 non-null   object
 3   year                         3000 non-null   int64
 4   month                        3000 non-null   int64
 5   day                          3000 non-null   int64
 6   release_date_text_converted  3000 non-null   datetime64[ns]
 7   release_date_int_converted   3000 non-null   datetime64[ns]
 8   new_constant_date_column     3000 non-null   datetime64[ns]
 9   combined_date                3000 non-null   datetime64[ns]
dtypes: datetime64[ns](4), int64(4), object(2)
memory usage: 234.5+ KB

## Explanation
- Notice that the three columns are passed in the form of a dataframe.
- The only **caution we should take is to ensure that the column names are exactly referred to as "year", "month" & "day" only. Otherwise, the conversion will not be successful**.