## Importing Pandas Library

In [1]:
import pandas as pd

## Importing data file in the Python environment
Change the Windows folder location as per your system

In [2]:
#### Importing data
imp_data = pd.read_csv("C:\\Ujjwal\\Analytics\\Git\\Scenario_3\\Expenses_Long.csv")
imp_data.head(2)

   Year Month Expense Category  Expense Value
0  2018   Apr          Grocery            420
1  2018   Apr           Travel            300

## Creating Wide Form of the Expense Table - Without Aggregation

In [3]:
#### The expense values of each year and month are used as it is to create the wide data form
Wide_data = pd.pivot_table(imp_data,index=["Year","Expense Category"], 
                           columns="Month",
                           values = "Expense Value").reset_index()
Wide_data.head(5)

Month,Year,Expense Category,Apr,Aug,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
0,2018,Entertainment,492,427,412,274,414,425,302,487,240,483,541,301
1,2018,Grocery,420,591,590,444,552,424,472,521,443,559,515,421
2,2018,Travel,300,314,455,458,321,419,371,332,309,325,429,431
3,2019,Entertainment,516,257,231,265,310,428,397,543,538,417,435,274
4,2019,Grocery,542,570,550,519,474,410,479,586,508,471,572,451

## Creating Wide Form of the Expense Table - With Aggregation (use of aggfunc)

In [4]:
#### Calculating the average expense per month in the year 2018, 2019 & 2020 across different expense categories
Wide_data = pd.pivot_table(imp_data,index="Year", 
                           columns="Expense Category",
                           values = "Expense Value", aggfunc = "mean").reset_index()
Wide_data

Expense Category  Year  Entertainment     Grocery  Travel
0                 2018     399.833333  496.000000  372.00
1                 2019     384.250000  511.000000  424.00
2                 2020     412.416667  483.833333  425.25

#### Explanation
- Notice the use of parameter *aggfunc* to aggregate the expense values.
- This argument expects us to pass the aggregate function like sum or mean. The aggregate function summarizes the values passed to the pivot_table function.