## Importing Pandas Library

In [1]:
import pandas as pd

## Reading & converting raw data in to DateTime format
Change the Windows folder location as per your system

In [2]:
#### Reading and creating date columns
imp_data = pd.read_csv("C:\\Ujjwal\\Analytics\\Git\\Scenario_7\\Date_Dataset.csv", 
                       parse_dates= {"Combined_date":["year", "month", "day"], "Original_date":["release_date"]})
imp_data["release_date_text"] = pd.to_datetime(imp_data["release_date_text"], format="%Y#%d#%m")
imp_data["release_date_int"] = pd.to_datetime(imp_data["release_date_int"], format="%Y%m%d")
imp_data.head()

  Combined_date Original_date release_date_int release_date_text
0    2019-03-17           NaT       2019-03-17        2019-03-17
1    2004-08-06    2004-08-06       2004-08-06        2004-08-06
2    2014-10-10    2014-10-10       2014-10-10        2014-10-10
3    2012-03-09    2012-03-09       2012-03-09        2012-03-09
4    2009-02-05    2009-02-05       2009-02-05        2009-02-05

## Create a new column containing dates n days/ month/ year ahead of the existing one

In [3]:
#### Existing date values
imp_data["release_date_text"].head()

0   2019-03-17
1   2004-08-06
2   2014-10-10
3   2012-03-09
4   2009-02-05
Name: release_date_text, dtype: datetime64[ns]

In [4]:
#### Creating a new column 7 days ahead 
imp_data["release_date_text_7daysplus"] = imp_data["release_date_text"] + pd.DateOffset(days=7)
imp_data[["release_date_text","release_date_text_7daysplus"]].head()

  release_date_text release_date_text_7daysplus
0        2019-03-17                  2019-03-24
1        2004-08-06                  2004-08-13
2        2014-10-10                  2014-10-17
3        2012-03-09                  2012-03-16
4        2009-02-05                  2009-02-12

## Extracting various components of date columns

In [5]:
#### Extracting Weekdays 
imp_data["Weekdays"] = imp_data["release_date_int"].dt.dayofweek
imp_data["Weekdays"].head()

0    6
1    4
2    4
3    4
4    3
Name: Weekdays, dtype: int64

In [6]:
#### Extracting year 
imp_data["year"] = imp_data["release_date_int"].dt.year
imp_data["year"].head(3)

0    2019
1    2004
2    2014
Name: year, dtype: int64

## Finding date differences or using logical operations on 2 different date columns

In [7]:
#### Finding difference between 2 dates
imp_data["days_difference"] = imp_data["release_date_text_7daysplus"] - imp_data["release_date_text"]
imp_data["days_difference"].head()

0   7 days
1   7 days
2   7 days
3   7 days
4   7 days
Name: days_difference, dtype: timedelta64[ns]

In [8]:
#### Comparing Dates
imp_data["Is_bigger"] = imp_data["release_date_text_7daysplus"] > imp_data["release_date_text"]
imp_data["Is_bigger"].head()

0    True
1    True
2    True
3    True
4    True
Name: Is_bigger, dtype: bool

## Manually correcting date in a dataframe cell

In [9]:
#### Original_Date
imp_data["Original_date"].head()

0          NaT
1   2004-08-06
2   2014-10-10
3   2012-03-09
4   2009-02-05
Name: Original_date, dtype: datetime64[ns]

In [10]:
#### The null value in the first cell of the column is replaced with a correct date
imp_data.loc[0,"Original_date"] = pd.to_datetime("2020-03-17", format="%Y-%m-%d")
imp_data["Original_date"].head()

0   2020-03-17
1   2004-08-06
2   2014-10-10
3   2012-03-09
4   2009-02-05
Name: Original_date, dtype: datetime64[ns]

## Explanation
- We have used **the to_datetime** function (explained in the previous tutorial) to feed a date to the null column of the **Original_date** column.