## Importing Pandas Library

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

## Importing data file in the Python environment
Change the Windows folder location as per your system

In [2]:
imp_data = pd.read_csv("C:\\Ujjwal\\Analytics\\Git\\Data_Wrangling_Tips_Tricks\\Scenario_3\\Sample_Data.csv")
imp_data.head(2)

   ArticleId                        Text   Category
0          1       India Australia Delhi      India
1          2  Australia Sydney Melbourne  Australia

## Initialize Count Vecrotizer

In [3]:
Cnt_Vec = CountVectorizer(stop_words="english")

## Fit Transform Text using CountVectorizer Object

In [4]:
Cnt_Vec_Data = Cnt_Vec.fit_transform(imp_data["Text"])

## Convert the transformed data to array

In [5]:
Cnt_Vec_Data_Array = Cnt_Vec_Data.toarray()

## Create a Dataframe

In [6]:
Cnt_Vec_DF = pd.DataFrame(Cnt_Vec_Data_Array, columns=Cnt_Vec.get_feature_names())
Cnt_Vec_DF.head()

   australia  delhi  india  melbourne  sydney
0          1      1      1          0       0
1          1      0      0          1       1
2          0      2      1          0       0